# Integração PostgreSQL com Python

- Estabelecer conexões
- Executar comandos
- Manipular ddos
- Trabalhar com transações

### Carregando o ambiente no Jupyter

In [1]:
%load_ext sql

In [2]:
%sql postgresql://postgres:postgres@localhost:5432/banco

In [3]:
%sql set search_path to vendas;

 * postgresql://postgres:***@localhost:5432/banco
Done.

[]

### Trabalhando com psycopg2

Uma interessante opção para integrar python e postgresql é a lib psycopg2

**Como instalar**

Instale as seguintes libs

- psycopg2: driver de conexão
- python-dotenv: leitura de arquivos chave-valor

In [ ]:
pip install psycopg2 python-doenv

Abaixo um script de exemplo, de como utilizar o `.env` com a lib dotenv para criar uma conexão.

Primeiramente, crie um arquivo na raiz do projeto, contendo as variáveis que serão utilizadas na conexão

In [ ]:
# .env
PGHOST=localhost
PGUSER=postgres
PGDATABASE=banco
PGPASSWORD=postgres

_Lembre-se de adicionar o nome do arquivo no .gitignore_

Em seguida o script:

In [1]:
import psycopg2
import os
from dotenv import load_dotenv

load_dotenv()

host = os.getenv('PGHOST')
conn = None

if host:
    print(f'Env carregado. \nPGHOST: {host}.')
else:
    print(f'Env não carregado.')

Env carregado.
PGHOST: localhost.

### Conectando com o PostgreSQL

In [2]:
"""Criando uma conexão com o postgres
"""
conn = None
print(conn)
try:
    conn = psycopg2.connect(
        host = os.getenv('PGHOST'),
        dbname = os.getenv('PGDATABASE'),
        user = os.getenv('PGUSER'),
        password = os.getenv('PGPASSWORD'),
        sslmode = 'require'
    )
    print(f"Conexão estabelecida com sucesso!")
    print(conn)
except Exception as e:
    print(f"Erro: {e}")
finally:
    if conn:
        print(f'...Fechando conexão')
        # conn.close()
        print(conn)

None
Conexão estabelecida com sucesso!
<connection object at 0x77c5ef674540; dsn: 'user=postgres password=xxx dbname=banco host=localhost sslmode=require', closed: 0>
...Fechando conexão
<connection object at 0x77c5ef674540; dsn: 'user=postgres password=xxx dbname=banco host=localhost sslmode=require', closed: 0>

### Realizando uma consulta - Select

**Criando um cursor**

In [3]:
cursor = conn.cursor()
query = "SELECT * FROM vendas.clientes limit 5;"
cursor.execute(query)
registros = cursor.fetchall()
for registro in registros:
    print(registro)

(17, 'Marcos Magalhães', 'felipe.andrade@example.com', 955443322, '67892123456', '61')
(1, 'João Silva', 'joao.silva@email.com', 987654321, '12345678901', '11')
(2, 'Maria Oliveira', 'maria.oliveira@email.com', 998765432, '23456789012', '21')
(3, 'Carlos Souza', 'carlos.souza@email.com', 991234567, '34567890123', '31')
(4, 'Ana Paula', 'ana.paula@email.com', 999887766, '45678901234', '41')

**Fornecendo variáveis ao cursor**

In [4]:
nome = input("Informe o nome do cliente: ")

cursor = conn.cursor()
query = "SELECT * FROM vendas.clientes WHERE nome LIKE %s"
cursor.execute(query, (f'{nome}%', ))
registros = cursor.fetchall()
cursor.close()
for registro in registros:
    print(registro)

(2, 'Maria Oliveira', 'maria.oliveira@email.com', 998765432, '23456789012', '21')
(24, 'Mariana Cunha', 'mariana.cunha@example.com', 978776655, '33445565778', '41')

**Formas de recuperar resultados**

- fetchall: todos os resultados
- fetchone: somente um resultado
- fetchmany: quantidade determinada de resultados;

In [ ]:
# fetchone
cursor = conn.cursor()
cursor.execute("SELECT * FROM vendas.clientes;")
somente_um_resultado = cursor.fetchone()
cursor.close()
print(somente_um_resultado)

(17, 'Marcos Magalhães', 'felipe.andrade@example.com', 955443322, '67892123456', '61')

In [ ]:
# fetchmany
cursor = conn.cursor()
cursor.execute("SELECT * FROM vendas.clientes;")
cinco_registros = cursor.fetchmany(3)
cursor.close()
for id, registro in enumerate(cinco_registros):
    print(f"id: {id}, registro: {registro}")

id: 0, registro: (17, 'Marcos Magalhães', 'felipe.andrade@example.com', 955443322, '67892123456', '61')
id: 1, registro: (1, 'João Silva', 'joao.silva@email.com', 987654321, '12345678901', '11')
id: 2, registro: (2, 'Maria Oliveira', 'maria.oliveira@email.com', 998765432, '23456789012', '21')

### Inserindo dados - Insert

In [18]:
import os
import psycopg2
from dotenv import load_dotenv

def get_connection():
    """Recupera uma conexão com o banco de dados"""
    try:
        con = psycopg2.connect(
            host = os.getenv("PGHOST"), 
            dbname = os.getenv("PGDATABASE"), 
            user = os.getenv("PGUSER"), 
            password = os.getenv("PGPASSWORD"), 
            sslmode = "require"
        )
        print(f"Conexão estabelecida!")
        return con
    except Exception as e:
        print(f"Erro ao conectar, {e}")

In [19]:
def close_connection(con):
    """Fecha uma conexão com o banco de dados"""
    if con:
        print(f"Conexão finalizada, {con}")
        con.close()

In [20]:
def get_cursor(con):
    """Recupera um cursor de uma conexão com o banco de dados"""
    cursor = con.cursor()
    print(f"Cursor criado")
    return cursor

In [21]:
def close_cursor(cur):
    """Fechar cursor de uma conexão com o banco de dados"""
    if cur:
        print(f"Fechando cursor, {cur}")
        cur.close()

In [4]:
%%sql 
select * from categorias;

 * postgresql://postgres:***@localhost:5432/banco
10 rows affected.

[(1, 'Tecnologia'),
 (2, 'Alimentos e Bebidas'),
 (3, 'Moda e Vestuário'),
 (4, 'Saúde e Bem-Estar'),
 (5, 'Educação'),
 (6, 'Esportes e Lazer'),
 (7, 'Serviços Financeiros'),
 (8, 'Automotivo'),
 (9, 'Casa e Decoração'),
 (10, 'Turismo e Viagens')]

In [14]:
nova_categoria = input("Informe uma nova categoria: ")
try:
    con = get_connection()
    cur = get_cursor(con)
    query = "INSERT INTO vendas.categorias (nome) VALUES (%s);"
    cur.execute(query, (nova_categoria,))
    con.commit()
    print(f"Nova categoria inserida, {nova_categoria}")
except Exception as e:
    print(f"Erro ao inserir, {e}")
finally:
    close_cursor(cur)
    close_connection(con)

Conexão estabelecida!
Nova categoria inserida, Games
Fechando cursor, <cursor object at 0x7472d5958f40; closed: 0>

In [15]:
%%sql
select * from categorias offset 10;

 * postgresql://postgres:***@localhost:5432/banco
2 rows affected.

[(11, 'Medicamentos'), (12, 'Games')]

### Excluindo Dados - Delete

In [27]:
try:
    con = get_connection()
    cur = get_cursor(con)
    cur.execute("DELETE FROM vendas.categorias WHERE id_categoria = 12;")
    con.commit()
    print(f"Registro excluido.")
except Exception as e:
    print(f"Erro ao excluir, {e}")
finally:
    close_cursor(cur)
    close_connection(con)

Conexão estabelecida!
Cursor criado
Registro excluido.
Fechando cursor, <cursor object at 0x7472d59a7d30; closed: 0>
Conexão finalizada, <connection object at 0x7472d711ee80; dsn: 'user=postgres password=xxx dbname=banco host=localhost sslmode=require', closed: 0>

In [28]:
%%sql
select * from categorias where id_categoria > 10;

 * postgresql://postgres:***@localhost:5432/banco
1 rows affected.

[(11, 'Medicamentos')]

### Alterando dados - Update

In [29]:
%%sql
select * from clientes limit 2;

 * postgresql://postgres:***@localhost:5432/banco
2 rows affected.

[(17, 'Marcos Magalhães', 'felipe.andrade@example.com', 955443322, '67892123456', '61'),
 (1, 'João Silva', 'joao.silva@email.com', 987654321, '12345678901', '11')]

In [32]:
try:
    con = get_connection()
    cur = get_cursor(con)
    cur.execute("UPDATE vendas.clientes SET nome = 'José Silva' WHERE id_cliente = 1;")
    con.commit()
    print(f"Registro Alterado.")
except Exception as e:
    print(f"Erro ao atualizar, {e}")
finally:
    close_cursor(cur)
    close_connection(con)

Conexão estabelecida!
Cursor criado
Registro Alterado.
Fechando cursor, <cursor object at 0x7472d5958f40; closed: 0>
Conexão finalizada, <connection object at 0x7472d711fc40; dsn: 'user=postgres password=xxx dbname=banco host=localhost sslmode=require', closed: 0>

In [34]:
%%sql
select * from clientes where id_cliente = 1;

 * postgresql://postgres:***@localhost:5432/banco
1 rows affected.

[(1, 'José Silva', 'joao.silva@email.com', 987654321, '12345678901', '11')]