# Integração PostgreSQL com Python

- Estabelecer conexões
- Executar comandos
- Manipular ddos
- Trabalhar com transações

### Carregando o ambiente no Jupyter

In [1]:
%load_ext sql

In [2]:
%sql postgresql://postgres:postgres@localhost:5432/banco

In [3]:
%sql set search_path to livraria;

 * postgresql://postgres:***@localhost:5432/banco
Done.

[]

### Trabalhando com psycopg2

Uma interessante opção para integrar python e postgresql é a lib psycopg2

**Como instalar**

Instale as seguintes libs

- psycopg2: driver de conexão
- python-dotenv: leitura de arquivos chave-valor

In [ ]:
pip install psycopg2 python-doenv

Abaixo um script de exemplo, de como utilizar o `.env` com a lib dotenv para criar uma conexão.

Primeiramente, crie um arquivo na raiz do projeto, contendo as variáveis que serão utilizadas na conexão

In [ ]:
# .env
PGHOST=localhost
PGUSER=postgres
PGDATABASE=banco
PGPASSWORD=postgres

_Lembre-se de adicionar o nome do arquivo no .gitignore_

Em seguida o script:

In [4]:
import psycopg2
import os
from dotenv import load_dotenv

load_dotenv()

host = os.getenv('PGHOST')
conn = None

if host:
    print(f'Env carregado. \nPGHOST: {host}.')
else:
    print(f'Env não carregado.')

Env carregado.
PGHOST: localhost.

### Conectando com o PostgreSQL

In [29]:
"""Criando uma conexão com o postgres
"""
conn = None
print(conn)
try:
    conn = psycopg2.connect(
        host = os.getenv('PGHOST'),
        dbname = os.getenv('PGDATABASE'),
        user = os.getenv('PGUSER'),
        password = os.getenv('PGPASSWORD'),
        sslmode = 'require'
    )
    print(f"Conexão estabelecida com sucesso!")
    print(conn)
except Exception as e:
    print(f"Erro: {e}")
finally:
    if conn:
        print(f'...Fechando conexão')
        # conn.close()
        print(conn)

None
Conexão estabelecida com sucesso!
<connection object at 0x7f10d421f740; dsn: 'user=postgres password=xxx dbname=banco host=localhost sslmode=require', closed: 0>
...Fechando conexão
<connection object at 0x7f10d421f740; dsn: 'user=postgres password=xxx dbname=banco host=localhost sslmode=require', closed: 0>

### Realizando uma consulta

**Criando um cursor**

In [30]:
cursor = conn.cursor()
query = "SELECT * FROM vendas.clientes limit 5;"
cursor.execute(query)
registros = cursor.fetchall()
for registro in registros:
    print(registro)

(17, 'Marcos Magalhães', 'felipe.andrade@example.com', 955443322, '67892123456', '61')
(1, 'João Silva', 'joao.silva@email.com', 987654321, '12345678901', '11')
(2, 'Maria Oliveira', 'maria.oliveira@email.com', 998765432, '23456789012', '21')
(3, 'Carlos Souza', 'carlos.souza@email.com', 991234567, '34567890123', '31')
(4, 'Ana Paula', 'ana.paula@email.com', 999887766, '45678901234', '41')

**Fornecendo variáveis ao cursor**

In [ ]:
nome = input("Informe o nome do cliente: ")

cursor = conn.cursor()
query = "SELECT * FROM vendas.clientes WHERE nome LIKE %s"
cursor.execute(query, (f'{nome}%', ))
registros = cursor.fetchall()
cursor.close()
for registro in registros:
    print(registro)

(2, 'Maria Oliveira', 'maria.oliveira@email.com', 998765432, '23456789012', '21')
(24, 'Mariana Cunha', 'mariana.cunha@example.com', 978776655, '33445565778', '41')

In [ ]:
def fetch_data_from_table(conn, table_name):
    """Função de select
    """
    try:
        cursor = conn.cursor()
        query = f'SELECT * FROM {table_name};' # errado
        cursor.execute(query)
        records = cursor.fetchall()

        for row in records:
            print(row)

        cursor.close()
    except Exception as e:
        print(f'Erro ao consultar: {e}')
    finally:
        ...

table_name = "vendas.produtos"
fetch_data_from_table(conn, table_name)

(1, 'Notebook Ultrafino', 'Notebook leve com 16GB RAM e SSD 512GB', 4839.89, 1)
(2, 'Smartphone X20', 'Smartphone com câmera tripla e 128GB de memória', 3298.9, 1)
(3, 'Camiseta Estampada', 'Camiseta de algodão com estampa moderna', 65.89, 3)
(4, 'Suplemento Whey Protein', 'Proteína concentrada para ganho de massa muscular', 164.98900000000003, 4)
(5, 'Curso de Python', 'Curso online para aprender programação em Python', 218.9, 5)
(6, 'Bola de Futebol', 'Bola oficial tamanho 5 para partidas profissionais', 142.89000000000001, 6)
(7, 'Conta Digital Plus', 'Conta digital com cartão e TEDs ilimitadas', 0.0, 7)
(8, 'Óleo de Motor Sintético', 'Lubrificante sintético para alta performance', 98.89000000000001, 8)
(9, 'Kit de Facas Inox', 'Conjunto com 6 facas de cozinha em inox', 131.89000000000001, 9)
(10, 'Pacote de Viagem - Nordeste', '7 dias com hospedagem e café da manhã incluso', 3848.9, 10)
(11, 'Smart TV 55"', 'Smart TV 4K com comando de voz e apps integrados', 3078.9, 1)
(12, 'Tênis Esportivo', 'Tênis para corrida com amortecimento em gel', 384.89, 6)
(13, 'Curso de Inglês Online', 'Aulas interativas e certificado incluído', 163.9, 5)
(14, 'Serviço de Consultoria Financeira', 'Análise completa de finanças pessoais', 329.89, 7)
(15, 'Mesa de Jantar 6 Lugares', 'Mesa em MDF com acabamento premium', 2088.9, 9)
(16, 'Vestido Longo Floral', 'Vestido leve e ideal para o verão', 197.89000000000001, 3)
(17, 'Notebook Gamer Pro', 'Máquina poderosa com RTX 4060 e 32GB RAM', 8798.900000000001, 1)
(18, 'Pacote de Viagem - Europa', 'Passagem + hospedagem em 3 países por 10 dias', 9898.900000000001, 10)
(19, 'Jaqueta Corta-Vento', 'Ideal para dias frios e chuvosos', 274.89000000000004, 3)
(20, 'Curso de Marketing Digital', 'Aprenda estratégias de tráfego e SEO', 328.90000000000003, 5)
(22, 'Vestido Infantil Encanto', 'Vestido Infantil Para Eventos', 242.00000000000003, 3)
(21, 'Vestido Fabulo', 'Vestido Infantil Para Festas', 253.00000000000003, 3)

In [26]:
%%sql
select * from vendas.clientes where id_cliente = 10;

 * postgresql://postgres:***@localhost:5432/banco
1 rows affected.

[(10, 'Eduardo Ferreira', 'eduardo.ferreira@email.com', 993218765, '01234567890', '11')]

In [40]:
def fetch_data_from_table(conn):
    """Função de select utilizando um placeholder
    """
    try:
        cursor = conn.cursor()
        cursor.execute(f'SELECT * FROM vendas.clientes where id_cliente = %s;', (8,))
        records = cursor.fetchall()

        for row in records:
            print(row)

        cursor.close()
    except Exception as e:
        print(f'Erro ao consultar: {e}')
    finally:
        ...

fetch_data_from_table(conn)
if conn:
    conn.close()

Erro ao consultar: connection already closed

In [53]:
def create_conn():
    try:
        conn = psycopg2.connect(
            host = os.getenv('PGHOST'),
            dbname = os.getenv('PGDATABASE'),
            user = os.getenv('PGUSER'),
            password = os.getenv('PASSWORD'),
            sslmode = 'require'
        )
        print('Conexão estabelecida com sucesso!')
        return conn
    except Exception as e:
        print(f'Ocorreu um erro ao conectar: {e}')


def delete_from_table(conn):
    """Função de delete utilizando placeholder
    """
    try:
        cursor = conn.cursor()
        cursor.execute(f'DELETE FROM vendas.produtos WHERE nome LIKE %s;', ('Notebook Gamer Pro%',))
        rows_deleted = cursor.rowcount
        conn.commit()

        print(f'Quantidade de registros excluídos: {rows_deleted}')
    except Exception as e:
        print(f'Erro: {e}')
    finally:
        cursor.close()
        conn.close()

conn = create_conn()
delete_from_table(conn)
if conn:
    conn.close()

Conexão estabelecida com sucesso!
Quantidade de registros excluídos: 1

In [55]:
%%sql
select 
    i.*, p.nome
    from vendas.itens_pedido i
    right join vendas.produtos p on i.id_produto = p.id_produto
    where i.id_pedido is null;

 * postgresql://postgres:***@localhost:5432/banco
4 rows affected.

[(None, None, None, None, None, 'Curso de Marketing Digital'),
 (None, None, None, None, None, 'Pacote de Viagem - Europa'),
 (None, None, None, None, None, 'Jaqueta Corta-Vento'),
 (None, None, None, None, None, 'Vestido Longo Floral')]