# Criando o ambiente no Ubuntu

**Etapas a seguir**

- Instalar o PostgreSQL
- Instalar o PGAdmin
- Configurar um ambiente Python com Pyenv
- Instalar libs SQL para Jupyter
-

In [ ]:
# Remove qualquer instalação anterior
sudo apt remove --purge postgresql*
sudo apt autoremove

- Adiciona repositório oficial e chave GPG

In [ ]:
sudo sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt $(lsb_release -cs)-pgdg main" > /etc/apt/sources.list.d/pgdg.list'
wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -
sudo apt update

- Instalar a versão 12 do PostgreSQL

In [ ]:
sudo apt install postgresql-12 postgresql-client-12

- Instalar o pgAdmin

In [ ]:
#Adiciona uma chave
curl https://www.pgadmin.org/static/packages_pgadmin_org.pub | sudo apt-key add

#Cria repositório para o arquivo e atualiza
sudo sh -c 'echo "deb https://ftp.postgresql.org/pub/pgadmin/pgadmin4/apt/$(lsb_release -cs) pgadmin4 main" > /etc/apt/sources.list.d/pgadmin4.list && apt update'
sudo apt install pgadmin4-desktop

- Verificar o serviço

In [ ]:

```shell
sudo systemctl status postgresql@12-main
```

- Caso não esteja rodando

In [ ]:
```shell
sudo systemctl start postgresql@12-main
sudo systemctl enable postgresql@12-main
```

In [ ]:
- Alterar a senha do PostgreSQL

In [ ]:
```shell
sudo -i -u postgres
psql
ALTER USER postgres PASSWORD 'sua_nova_senha';
\q
exit
```


- Verificar versão instalada

In [ ]:
```shell
psql -V
```

**Configurar usuário para desenvolvimento**

In [ ]:
sudo -i -u postgres
psql

- Criar novo usuário

In [ ]:
CREATE ROLE devuser WITH LOGIN PASSWORD 'senha';

- Conceder permissões

In [ ]:
ALTER ROLE devuser CREATEDB;
ALTER ROLE devuser CREATEROLE;

- Criar um banco para o novo user

In [ ]:
CREATE DATABASE devdb OWNER devuser;

- Sair e reconectar com o novo user

In [ ]:
\q
exit
psql -U devuser -d devdb -h localhost

- Tornar o login automático para o user

In [ ]:
nano ~/.pgpass
localhost:5432:devdb:devuser:senha_segura
chmod 600 ~/.pgpass

- Demais configurações básicas para o novo user trabalhar com desenvolvimento

In [ ]:
sudo -i -u postgres
psql
ALTER DATABASE devdb OWNER TO devuser;
GRANT ALL PRIVILEGES ON DATABASE devdb TO devuser;
\c devdb
GRANT ALL ON SCHEMA public TO devuser;
ALTER SCHEMA public OWNER TO devuser;
ALTER ROLE devuser WITH LOGIN PASSWORD 'senha_segura' CREATEDB;

- Script para automatizar a configuração do ambiente

In [ ]:
-- Criar o usuário de desenvolvimento
CREATE ROLE devuser WITH
    LOGIN
    PASSWORD 'senha_segura'
    CREATEDB;

-- Criar o banco de dados e atribuir a propriedade ao usuário
CREATE DATABASE devdb
    OWNER devuser;

-- Conectar ao banco para configurar permissões no schema
\connect devdb

-- Garantir que o usuário tenha total controle sobre o esquema padrão
GRANT ALL ON SCHEMA public TO devuser;
ALTER SCHEMA public OWNER TO devuser;

-- Garantir controle sobre o próprio banco
GRANT ALL PRIVILEGES ON DATABASE devdb TO devuser;
ALTER DATABASE devdb OWNER TO devuser;

- Execute no terminal

In [ ]:
sudo -i -u postgres
psql -f /caminho/para/setup_dev_env.sql

### Configrurando Jupyter Notebook para SQL

- Instalar os pacotes necessário:

In [ ]:
pip install psycopg2-binary==2.9.10 SQLAlchemy==2.0.41 ipython==9.2.0

In [ ]:
!pip freeze

anyio==4.9.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==3.0.0
async-lru==2.0.5
attrs==25.3.0
babel==2.17.0
beautifulsoup4==4.13.4
bleach==6.2.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
comm==0.2.2
debugpy==1.8.14
decorator==5.2.1
defusedxml==0.7.1
executing==2.2.0
Faker==37.1.0
fastjsonschema==2.21.1
fqdn==1.5.1
greenlet==3.2.3
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
ipykernel==6.29.5
ipython==9.2.0
ipython-genutils==0.2.0
ipython-sql==0.5.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.6
json5==0.12.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.1.3
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
notebook==7.4.2
notebook_shim==0.2.4
overrides==7.7.0
packaging==25.0
pandocfilters==1.5.1
parso==0.8.4
pexpect==4.9.0
platformdirs==4.3.8
prettytable==2.5.0
prometheus_client==0.22.0
prompt_toolkit==3.0.51
psutil==7.0.0
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.22
Pygments==2.19.1
python-dateutil==2.9.0.post0
python-json-logger==3.3.0
PyYAML==6.0.2
pyzmq==26.4.0
referencing==0.36.2
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==14.0.0
rpds-py==0.25.0
Send2Trash==1.8.3
setuptools==80.7.1
six==1.17.0
sniffio==1.3.1
soupsieve==2.7
SQLAlchemy==2.0.41
sqlparse==0.5.3
stack-data==0.6.3
terminado==0.18.1
tinycss2==1.4.0
tornado==6.5
traitlets==5.14.3
types-python-dateutil==2.9.0.20250516
typing_extensions==4.13.2
tzdata==2025.2
uri-template==1.3.0
urllib3==2.4.0
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
widgetsnbextension==4.0.14

**Executando comandos SQL**

- Conectar com o notebook e carregar a extensão sql.

In [1]:
%load_ext sql

- Conectar com o banco

In [5]:
%sql postgresql://postgres:postgres@localhost:5432/banco

- Executar comandos sql

In [ ]:
%%sql
SELECT * FROM alunos LIMIT 5;

- criar o schema

In [11]:
%sql create schema tmp;

 * postgresql://postgres:***@localhost:5432/banco
Done.

[]

- definir o schema padrão

In [12]:
%sql set search_path to tmp;

 * postgresql://postgres:***@localhost:5432/banco
Done.

[]

- criação de tabelas

In [68]:
%%sql 
drop table if exists aluno;
create table if not exists aluno (
    id serial,
    nome varchar(50),
    matricula bigint,
    status char(10)
);
select * from aluno;

 * postgresql://postgres:***@localhost:5432/banco
Done.
Done.
0 rows affected.

[]

- alteração de tabela

In [69]:
%%sql
alter table aluno add column idade smallint;
select * from aluno;

 * postgresql://postgres:***@localhost:5432/banco
Done.
0 rows affected.

[]

- renomear uma coluna

In [70]:
%%sql
alter table aluno rename column matricula to inscricao;
select * from aluno;

 * postgresql://postgres:***@localhost:5432/banco
Done.
0 rows affected.

[]

- alterar o tipo de uma coluna

In [71]:
%%sql
alter table aluno alter column idade type bigint;
select 
    column_name, data_type, table_schema 
    from information_schema.columns 
    where 
        table_name = 'aluno'
        and table_schema = 'tmp';

 * postgresql://postgres:***@localhost:5432/banco
Done.
5 rows affected.

[('id', 'integer', 'tmp'),
 ('nome', 'character varying', 'tmp'),
 ('inscricao', 'bigint', 'tmp'),
 ('status', 'character', 'tmp'),
 ('idade', 'bigint', 'tmp')]

- eliminar uma coluna

In [72]:
%%sql
alter table if exists aluno drop column idade;
select * from aluno;

 * postgresql://postgres:***@localhost:5432/banco
Done.
0 rows affected.

[]

- adicionar constraints (restrições)

In [73]:
%%sql
alter table if exists aluno add constraint pk_aluno primary key (id); -- definição de chave primária
alter table if exists aluno alter column status set default 'ATIVO'; -- valor padrão
-- alter table if exists aluno add constraint inscricao_unique unique (inscricao); -- único
alter table if exists aluno alter column nome set not null; -- definição de constraint não nulo
alter table if exists aluno alter column inscricao set not null;
alter table if exists aluno alter column status set not null; 
select 
    column_name, data_type, table_schema, character_maximum_length,
    is_nullable, column_default 
    from information_schema.columns 
    where 
        table_name = 'aluno'
        and table_schema = 'tmp';

 * postgresql://postgres:***@localhost:5432/banco
Done.
Done.
Done.
Done.
Done.
4 rows affected.

[('id', 'integer', 'tmp', None, 'NO', "nextval('aluno_id_seq'::regclass)"),
 ('nome', 'character varying', 'tmp', 50, 'NO', None),
 ('inscricao', 'bigint', 'tmp', None, 'NO', None),
 ('status', 'character', 'tmp', 10, 'NO', "'ATIVO'::bpchar")]

- adicionando uma foreign key

In [74]:
%%sql
drop table if exists uf;
create table if not exists uf (
    id serial primary key,
    uf char(2) unique not null
);

alter table aluno add column id_uf integer ;
alter table aluno alter column id_uf set not null;
alter table aluno add constraint fk_uf foreign key (id_uf) references uf (id);

 * postgresql://postgres:***@localhost:5432/banco
Done.
Done.
Done.
Done.
Done.

[]