_Carregando ambiente Jupyter Notebook_

In [1]:
%load_ext sql

In [2]:
%sql postgresql://postgres:postgres@localhost:5432/banco

In [3]:
%sql SET search_path TO vendas;

 * postgresql://postgres:***@localhost:5432/banco
Done.

[]

### Exercício Prático:

Elimine dados da tabela Clientes filtrando pelo nome digitado pelo usuário (input), 
mesmo que seja informado parcialmente (primeiro nome, por exemplo).

In [ ]:
%%sql
-- verificando a estrutura da tabela e escolhendo um id
select * from vendas.clientes c
 left join vendas.pedidos p on c.id_cliente = p.id_cliente
 where p.id_pedido is null limit 3;

 * postgresql://postgres:***@localhost:5432/banco
3 rows affected.

[(20, 'Isabela Rocha', 'isabela.rocha@example.com', 922110099, '90123456389', '91', None, None, None, None),
 (25, 'Nicolas Gomes', 'nicolas.gomes@example.com', 967665544, '44556677589', '51', None, None, None, None),
 (26, 'Olívia Nunes', 'olivia.nunes@example.com', 956554433, '55667788390', '61', None, None, None, None)]

In [ ]:
# importando libs
import psycopg2
import os
from dotenv import load_dotenv

load_dotenv()

True

In [ ]:
"""Definindo as funções de conexão e delete
"""
def create_conn():
    try:
        conn = psycopg2.connect(
            host = os.getenv('PGHOST'),
            dbname = os.getenv('PGDATABASE'),
            user = os.getenv('PGUSER'),
            password = os.getenv('PASSWORD'),
            sslmode = 'require'
        )
        print('Conexão estabelecida com sucesso!')
        return conn
    except Exception as e:
        print(f'Ocorreu um erro ao conectar: {e}')

def delete_from_table(conn, user_id):
    try:
        cursor = conn.cursor()
        cursor.execute('DELETE FROM vendas.clientes WHERE id_cliente = %s', (user_id,))
        rows_deleted = cursor.rowcount
        conn.commit()
        print(f'Qtde de registro excluídos: {rows_deleted}')
    except Exception as e:
        print(f'Erro: {e}')
    finally:
        cursor.close()
        conn.close()

conn = create_conn()
user_id = int(input('Informe o id de um usuário: '))
delete_from_table(conn, user_id)

Conexão estabelecida com sucesso!
Qtde de registro excluídos: 1

In [16]:
%%sql
select * from vendas.clientes c
 left join vendas.pedidos p on c.id_cliente = p.id_cliente
 where p.id_pedido is null limit 3;

 * postgresql://postgres:***@localhost:5432/banco
3 rows affected.

[(26, 'Olívia Nunes', 'olivia.nunes@example.com', 956554433, '55667788390', '61', None, None, None, None),
 (27, 'Paulo Henrique', 'paulo.henrique@example.com', 945443322, '66778399001', '71', None, None, None, None),
 (17, 'Felipe Andrade', 'felipe.andrade@example.com', 955443322, '67892123456', '61', None, None, None, None)]

### Exercício Prático

Selecione dados da tabela Clientes onde o Nome do Cliente, contém o nome digitado 
pelo usuário (input). Em seguida, ofereça ao usuário a opção de alterar a coluna “nome”

In [19]:
def create_conn():
    try:
        conn = psycopg2.connect(
            host = os.getenv('PGHOST'),
            dbname = os.getenv('PGDATABASE'),
            user = os.getenv('PGUSER'),
            password = os.getenv('PASSWORD'),
            sslmode = 'require'
        )
        print('Conexão estabelecida com sucesso!')
        return conn
    except Exception as e:
        print(f'Ocorreu um erro ao conectar: {e}')


def update_data_table(conn):

    try:
        cursor = conn.cursor()
        cursor.execute(f'UPDATE vendas.clientes SET nome = %s WHERE id_cliente = %s', ('Marcos Magalhães', 17,))
        conn.commit()
        print(f'Registro alterado com sucesso!')
    except Exception as e:
        print(f'Erro: {e}')
    finally:
        cursor.close()
        conn.close()


conn = create_conn()
update_data_table(conn)

Conexão estabelecida com sucesso!
Registro alterado com sucesso!

In [20]:

%%sql
select * from vendas.clientes where id_cliente = 17;

 * postgresql://postgres:***@localhost:5432/banco
1 rows affected.

[(17, 'Marcos Magalhães', 'felipe.andrade@example.com', 955443322, '67892123456', '61')]

In [21]:
!pip install openai

Collecting openai
  Downloading openai-1.86.0-py3-none-any.whl.metadata (25 kB)
Requirement already satisfied: anyio<5,>=3.5.0 in /home/luciano/workspace/programacao/dominando-python/venv/lib/python3.12/site-packages (from openai) (4.9.0)
Collecting distro<2,>=1.7.0 (from openai)
  Downloading distro-1.9.0-py3-none-any.whl.metadata (6.8 kB)
Requirement already satisfied: httpx<1,>=0.23.0 in /home/luciano/workspace/programacao/dominando-python/venv/lib/python3.12/site-packages (from openai) (0.28.1)
Collecting jiter<1,>=0.4.0 (from openai)
  Downloading jiter-0.10.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.2 kB)
Collecting pydantic<3,>=1.9.0 (from openai)
  Downloading pydantic-2.11.5-py3-none-any.whl.metadata (67 kB)
Requirement already satisfied: sniffio in /home/luciano/workspace/programacao/dominando-python/venv/lib/python3.12/site-packages (from openai) (1.3.1)
Collecting tqdm>4 (from openai)
  Using cached tqdm-4.67.1-py3-none-any.whl.metadata (57 kB)
Requirement already satisfied: typing-extensions<5,>=4.11 in /home/luciano/workspace/programacao/dominando-python/venv/lib/python3.12/site-packages (from openai) (4.13.2)
Requirement already satisfied: idna>=2.8 in /home/luciano/workspace/programacao/dominando-python/venv/lib/python3.12/site-packages (from anyio<5,>=3.5.0->openai) (3.10)
Requirement already satisfied: certifi in /home/luciano/workspace/programacao/dominando-python/venv/lib/python3.12/site-packages (from httpx<1,>=0.23.0->openai) (2025.4.26)
Requirement already satisfied: httpcore==1.* in /home/luciano/workspace/programacao/dominando-python/venv/lib/python3.12/site-packages (from httpx<1,>=0.23.0->openai) (1.0.9)
Requirement already satisfied: h11>=0.16 in /home/luciano/workspace/programacao/dominando-python/venv/lib/python3.12/site-packages (from httpcore==1.*->httpx<1,>=0.23.0->openai) (0.16.0)
Collecting annotated-types>=0.6.0 (from pydantic<3,>=1.9.0->openai)
  Using cached annotated_types-0.7.0-py3-none-any.whl.metadata (15 kB)
Collecting pydantic-core==2.33.2 (from pydantic<3,>=1.9.0->openai)
  Downloading pydantic_core-2.33.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.8 kB)
Collecting typing-inspection>=0.4.0 (from pydantic<3,>=1.9.0->openai)
  Downloading typing_inspection-0.4.1-py3-none-any.whl.metadata (2.6 kB)
Downloading openai-1.86.0-py3-none-any.whl (730 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 730.3/730.3 kB 21.9 MB/s eta 0:00:00
Downloading distro-1.9.0-py3-none-any.whl (20 kB)
Downloading jiter-0.10.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (352 kB)
Downloading pydantic-2.11.5-py3-none-any.whl (444 kB)
Downloading pydantic_core-2.33.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 65.8 MB/s eta 0:00:00
Using cached annotated_types-0.7.0-py3-none-any.whl (13 kB)
Using cached tqdm-4.67.1-py3-none-any.whl (78 kB)
Downloading typing_inspection-0.4.1-py3-none-any.whl (14 kB)
Installing collected packages: typing-inspection, tqdm, pydantic-core, jiter, distro, annotated-types, pydantic, openai
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8/8 [openai]2m7/8 [openai]c]
Successfully installed annotated-types-0.7.0 distro-1.9.0 jiter-0.10.0 openai-1.86.0 pydantic-2.11.5 pydantic-core-2.33.2 tqdm-4.67.1 typing-inspection-0.4.1

In [24]:
from openai import OpenAI

In [ ]:
client = OpenAI()
autor = input('Informe o nome do autor: ')
prompt = gera_bio(autor)

if prompt:
    completion = client.chat.completions.create(
        model = "gpt-4o-mini',
        messages=[
            ("role": "system",
            "content": "Você é um assistente literário"

            )
        ]"
    )