_Carregando ambiente Jupyter Notebook_

In [1]:
%load_ext sql

In [2]:
%sql postgresql://postgres:postgres@localhost:5432/banco

In [3]:
%sql SET search_path TO vendas;

 * postgresql://postgres:***@localhost:5432/banco
Done.

[]

### Exercicio Prático - Select

Selecione dados da tabela Produtos onde o Nome do Produto, contém o nome 
digitado pelo usuário (input)

In [ ]:
import psycopg2
import os
from dotenv import load_dotenv

load_dotenv()

def get_connection():
    try:
        return psycopg2.connect(
                host = os.getenv('PGHOST'),
                dbname = os.getenv('PGDATABASE'),
                user = os.getenv('PGUSER'),
                password = os.getenv('PASSWORD'),
                sslmode = 'require'
            )
    except Exception as e:
        print(f"Erro ao criar a conexão, {e}")

def close_connection(connection):
    if connection:
        connection.close()

def fetch_data_by_param(connection, param):    
    try:
        cursor = connection.cursor()
        query = "SELECT * FROM vendas.produtos WHERE nome LIKE %s"
        cursor.execute(query, (f"{param}%",))
        registros = cursor.fetchall()
        if registros:
            for registro in registros:
                print(f"{registro}")
        else:
            print(f"Nenhum registro encontrado.")
    except Exception as e:
        print(f"Erro ao consultar, {e}")
    finally:
        if cursor: cursor.close()

def select():
    con = get_connection()

    produto = input("Informe o nome do produto: ")
    fetch_data_by_param(con, produto)
    close_connection(con)

select()

(1, 'Notebook Ultrafino', 'Notebook leve com 16GB RAM e SSD 512GB', 4839.89, 1)

### Exercício Prático - Insert

Insira dados na tabela Clientes contendo dados digitados pelo usuário (input).

In [ ]:
import psycopg2
import os
from dotenv import load_dotenv

load_dotenv()

def get_connection():
    try:
        return psycopg2.connect(
                host = os.getenv('PGHOST'),
                dbname = os.getenv('PGDATABASE'),
                user = os.getenv('PGUSER'),
                password = os.getenv('PASSWORD'),
                sslmode = 'require'
            )
    except Exception as e:
        print(f"Erro ao criar a conexão, {e}")

def close_connection(connection):
    if connection:
        print(f"Fechando connection, {connection}")
        connection.close()

def insert_data_to_table(con, table, fields, **data):
    try:
        nome = data.get('nome')
        email = data.get('email')
        telefone = data.get('telefone')
        cpf = data.get('cpf')
        ddd = data.get('ddd')
        cursor = con.cursor()
        query = f"""INSERT INTO {table} ({", ".join(fields)})
        values (%s, %s, %s, %s, %s);"""
        cursor.execute(query, (nome, email, telefone, cpf, ddd))
        con.commit()
        print(f"Registro inserido.")
    except Exception as e:
        print(f"Erro ao inserir, {e}")
    finally:
        if cursor:
            cursor.close()

def execute():
    try:
        con = get_connection()
        fields = ['nome', 'email', 'telefone', 'cpf', 'ddd']
        
        insert_data_to_table(
            con, "vendas.clientes", fields, 
            nome = "Ugo Baia",
            email = "ugo@email.com",
            telefone = "211223333",
            cpf = "11335478932",
            ddd = "22"
        )        

    except Exception as e:
        print(f"Erro ao inserir, {e}")
    finally:
        close_connection(con)

execute()

Registro inserido.
Fechando connection, <connection object at 0x720d99321e40; dsn: 'host=localhost dbname=banco user=postgres sslmode=require', closed: 0>

In [8]:
%%sql
select * from clientes where nome like 'Ugo%';

 * postgresql://postgres:***@localhost:5432/banco
1 rows affected.

[(35, 'Ugo Baia', 'ugo@email.com', 211223333, '11335478932', '22')]

### Exercício Prático - Delete

Elimine dados da tabela Clientes filtrando pelo nome digitado pelo usuário (input), 
mesmo que seja informado parcialmente (primeiro nome, por exemplo).

In [ ]:
%%sql
-- verificando a estrutura da tabela e escolhendo um id
select * from vendas.clientes c
 left join vendas.pedidos p on c.id_cliente = p.id_cliente
 where p.id_pedido is null limit 3;

 * postgresql://postgres:***@localhost:5432/banco
3 rows affected.

[(20, 'Isabela Rocha', 'isabela.rocha@example.com', 922110099, '90123456389', '91', None, None, None, None),
 (25, 'Nicolas Gomes', 'nicolas.gomes@example.com', 967665544, '44556677589', '51', None, None, None, None),
 (26, 'Olívia Nunes', 'olivia.nunes@example.com', 956554433, '55667788390', '61', None, None, None, None)]

In [ ]:
"""Definindo as funções de conexão e delete
"""
def create_conn():
    try:
        conn = psycopg2.connect(
            host = os.getenv('PGHOST'),
            dbname = os.getenv('PGDATABASE'),
            user = os.getenv('PGUSER'),
            password = os.getenv('PASSWORD'),
            sslmode = 'require'
        )
        print('Conexão estabelecida com sucesso!')
        return conn
    except Exception as e:
        print(f'Ocorreu um erro ao conectar: {e}')

def delete_from_table(conn, user_id):
    try:
        cursor = conn.cursor()
        cursor.execute('DELETE FROM vendas.clientes WHERE id_cliente = %s', (user_id,))
        rows_deleted = cursor.rowcount
        conn.commit()
        print(f'Qtde de registro excluídos: {rows_deleted}')
    except Exception as e:
        print(f'Erro: {e}')
    finally:
        cursor.close()
        conn.close()

conn = create_conn()
user_id = int(input('Informe o id de um usuário: '))
delete_from_table(conn, user_id)

Conexão estabelecida com sucesso!
Qtde de registro excluídos: 1

In [16]:
%%sql
select * from vendas.clientes c
 left join vendas.pedidos p on c.id_cliente = p.id_cliente
 where p.id_pedido is null limit 3;

 * postgresql://postgres:***@localhost:5432/banco
3 rows affected.

[(26, 'Olívia Nunes', 'olivia.nunes@example.com', 956554433, '55667788390', '61', None, None, None, None),
 (27, 'Paulo Henrique', 'paulo.henrique@example.com', 945443322, '66778399001', '71', None, None, None, None),
 (17, 'Felipe Andrade', 'felipe.andrade@example.com', 955443322, '67892123456', '61', None, None, None, None)]

### Exercício Prático - Update

Selecione dados da tabela Clientes onde o Nome do Cliente, contém o nome digitado 
pelo usuário (input). Em seguida, ofereça ao usuário a opção de alterar a coluna “nome”

In [19]:
def create_conn():
    try:
        conn = psycopg2.connect(
            host = os.getenv('PGHOST'),
            dbname = os.getenv('PGDATABASE'),
            user = os.getenv('PGUSER'),
            password = os.getenv('PASSWORD'),
            sslmode = 'require'
        )
        print('Conexão estabelecida com sucesso!')
        return conn
    except Exception as e:
        print(f'Ocorreu um erro ao conectar: {e}')


def update_data_table(conn):

    try:
        cursor = conn.cursor()
        cursor.execute(f'UPDATE vendas.clientes SET nome = %s WHERE id_cliente = %s', ('Marcos Magalhães', 17,))
        conn.commit()
        print(f'Registro alterado com sucesso!')
    except Exception as e:
        print(f'Erro: {e}')
    finally:
        cursor.close()
        conn.close()


conn = create_conn()
update_data_table(conn)

Conexão estabelecida com sucesso!
Registro alterado com sucesso!

In [20]:

%%sql
select * from vendas.clientes where id_cliente = 17;

 * postgresql://postgres:***@localhost:5432/banco
1 rows affected.

[(17, 'Marcos Magalhães', 'felipe.andrade@example.com', 955443322, '67892123456', '61')]