- Carregando a extensão sql e conectando no banco

In [ ]:
%load_ext sql

In [ ]:
%sql postgresql://postgres:postgres@localhost:5432/banco

## Criar as tabelas do projeto Livraria

![](image_02.png)

- Criando e definindo o schema vendas como padrão

In [ ]:
%sql create schema livraria;

 * postgresql://postgres:***@localhost:5432/banco
Done.

[]

In [ ]:
%sql SET search_path TO livraria;

 * postgresql://postgres:***@localhost:5432/banco
Done.

[]

In [ ]:
%%sql
drop table if exists autores;
create table autores (
    id bigserial primary key,
    nome varchar(255),
    email varchar(255) unique not null,
    telefone varchar(20) not null, 
    bio text
);
select * from autores;

 * postgresql://postgres:***@localhost:5432/banco
Done.
Done.
0 rows affected.

[]

In [35]:
%%sql
drop table if exists categorias;
create table categorias (
    id bigserial primary key,
    nome varchar(50) not null
);
select * from categorias;

 * postgresql://postgres:***@localhost:5432/banco
Done.
Done.
0 rows affected.

[]

In [37]:
%%sql
drop table if exists editoras;
create table editoras (
    id bigserial primary key,
    nome varchar(255) not null,
    endereco text,
    telefone varchar(20)
);
select * from editoras;

 * postgresql://postgres:***@localhost:5432/banco
Done.
Done.
0 rows affected.

[]

In [5]:
%%sql
drop table if exists livros;
create table livros (
    id bigserial primary key,
    titulo varchar(100) not null,
    resumo text,
    ano int4 not null,
    paginas int4 not null,
    isbn varchar(20) not null unique,
    id_categoria bigint references categorias (id),
    id_editora bigint references editoras (id),
    id_autor bigint references autores (id)
);
select * from livros;

 * postgresql://postgres:***@localhost:5432/banco
Done.
Done.
0 rows affected.

[]